---
name: Tools - Check and remove expired certificates

"on":
  # https://docs.github.com/en/actions/reference/workflows-and-actions/events-that-trigger-workflows#workflow_dispatch
  workflow_dispatch:

  schedule:
    # https://docs.github.com/en/actions/reference/workflows-and-actions/events-that-trigger-workflows#schedule
    - cron:  '30 13 * * SUN'

permissions:
  contents: read

env:
  # GH_ACTOR: ${{ github.actor }}
  GH_ACTOR: "dependabot[bot]"
  BRANCH_PREFIX: "github_action/action/cert-remove"
  PR_TITLE_PREFIX: "Remove expired certificates on"
  PR_CONTENT: "Es wurden abgelaufene Zertifikate im Repository gefunden und gelöscht. Alle Änderungen nachstehend als dedizierten Commit."
  PR_LABELS: "github_actions,Remove CA"


jobs:
  job1:
    name: Remove certificates
    runs-on: ubuntu-slim

    permissions:
      contents: write

    steps:
      - name: Create necessary variables
        id: vars
        run: |
          timestamp=$(TZ='Europe/Berlin' date +'%Y%m%d-%H%M%S')
          
          echo "timestamp=$timestamp" >> $GITHUB_OUTPUT    
          echo "branchname=${{env.BRANCH_PREFIX}}_$timestamp" >> $GITHUB_OUTPUT 

      - name: Create a new branch
        uses: peterjgrainger/action-create-branch@10c7d268152480ae859347db45dc69086cef1d9c # v3.0.0
        env:
          GITHUB_TOKEN: "${{ secrets.GH_TOKEN }}"
        with:
          branch: "${{ steps.vars.outputs.branchname }}"

      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          ref: "${{ steps.vars.outputs.branchname }}"

      - name: Check certificates
        id: remove-certs
        shell: pwsh
        run: |

          # Declaration and initialization of variables
          [bool] $bExpiredCertfound = $false

          # Retrieving files in all directories that have the file types cer, der, and pem
          # The column named Fullname is passed to the loop.
          Get-ChildItem -Include ('*.cer', '*.der', '*.pem') -Recurse | Select -ExpandProperty Fullname | ForEach-Object {

              #  Declaration and initialization of variables for the loop
              [string] $strFile = $_

              # 
              $cert = New-Object System.Security.Cryptography.X509Certificates.X509Certificate2([string] $strFile)

              # Create variables with given values
              [datetime] $dtCurrentTimestamp = Get-Date
              [datetime] $dtCertNotAfter = $cert.NotAfter

              # Output informations
              Write-host "$strFile"
              Write-host "$dtCurrentTimestamp"
              Write-host "$dtCertNotAfter"

              # Check if the certificate's validity timestamp is older than the current time.
              # True: The queries in the If block are processed.
              # False: Nothing to do
              if ( $dtCurrentTimestamp -gt $dtCertNotAfter) {

                  # Output informations
                  Write-Host "Es wurde min. ein abgelaufenes Zertifikat gefunden."

                  # Delete given file without a conformation
                  Remove-Item -LiteralPath "$strFile" -Confirm:$false

                  # Output informations
                  Write-Host "Delete file $strFile"

                  # Set global options
                  # https://git-scm.com/docs/git-config
                  # https://medium.com/@shahbishwa21/automate-daily-commits-with-random-content-using-github-actions-804736759c1d
                  git config --local user.email "${{ env.GH_ACTOR }}@users.noreply.github.com"
                  git config --local user.name "${{ env.GH_ACTOR }}"

                  # Add contents of new or changed files to the index
                  # https://git-scm.com/docs/git-add
                  git add $strFile

                  # Create a new commit containing the current contents of the index and the given log message describing the changes
                  # https://git-scm.com/docs/git-commit
                  git commit -m "Removed $(Split-Path $strFile -Leaf)"

                  # Update remote refs along with associated objects
                  # https://git-scm.com/docs/git-push
                  git push

                  # Wert der Variable von 'False' auf 'True' setzen
                  $bExpiredCertfound = $true

                  # Use GITHUB_OUTPUT to make the value available to other steps within the job.
                  # https://stackoverflow.com/questions/74443940/value-not-set-using-github-output
                  echo "bHitCertExpired=$bExpiredCertfound" >> $env:GITHUB_OUTPUT

                  # Schleife wird abgebrochen
                  # break
              }

          }

          # Check if an expired certificate was found.
          # True: The queries in the If block are processed.
          # False: Nothing to do
          if (-not ($bExpiredCertfound) ) {

            # Output informations
            Write-Host "Es wurde keine abgelaufene Zertifikate gefunden."

            # Use GITHUB_OUTPUT to make the value available to other steps within the job.
            # https://stackoverflow.com/questions/74443940/value-not-set-using-github-output
            echo "bHitCertExpired=$bExpiredCertfound" >> $env:GITHUB_OUTPUT
          }

          # End of script

      - name: Write branchname
        run: echo "${{ steps.vars.outputs.branchname }}"

      - name: Write bHitCertExpired
        run: echo "${{ steps.remove-certs.outputs.bHitCertExpired }}"

    outputs:
      ExpiredCertfound: "${{ steps.remove-certs.outputs.bHitCertExpired }}"
      BranchName: "${{ steps.vars.outputs.branchname }}"
      timestamp: "${{ steps.vars.outputs.timestamp }}"


  job2:
    name: Pull Request
    needs: job1
    if: needs.job1.outputs.ExpiredCertfound == 'true'
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write
    
    env:
      J2_BRANCH_SOURCE_NAME: "${{ needs.job1.outputs.BranchName }}"
      J2_BRANCH_DEST_NAME: "${{ github.ref_name }}"
      J2_TIMESTAMP: "${{ needs.job1.outputs.timestamp }}"

    steps:
      - name: Write BranchName
        run: echo "${{ env.J2_BRANCH_SOURCE_NAME }}"

      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          ref: ${{ env.J2_BRANCH_SOURCE_NAME }}
          fetch-depth: '0'

      - name: Create pull request
        id: pullrequest
        uses: devops-infra/action-pull-request@b2895bff2ff66579f6704d717a1ea75fad919e84 # v1.0.2
        with:
          github_token: "${{ secrets.GH_TOKEN }}"
          source_branch: "${{ env.J2_BRANCH_SOURCE_NAME }}"
          target_branch: "${{ env.J2_BRANCH_DEST_NAME}}"
          title: "${{env.PR_TITLE_PREFIX}} ${{env.J2_TIMESTAMP}}"
          body: "${{ env.PR_CONTENT }}"
          label: "${{ env.PR_LABELS }}"

      - name: Write pr_number
        run: echo "${{ steps.pullrequest.outputs.pr_number }}"
    
    outputs:
      PR_NR: "${{ steps.pullrequest.outputs.pr_number }}"

  job3:
    name: Cleanup
    needs:
      - job1
      - job2
    # https://stackoverflow.com/questions/69354003/github-action-job-fire-when-previous-job-skipped
    if: always() && needs.job1.outputs.ExpiredCertfound == 'false' || needs.job2.outputs.PR_NR == ''
    # && needs.job2.result == 'skipped'
     # || needs.job2.outputs.PR_NR == ''
    runs-on: ubuntu-slim

    permissions:
      contents: write

    env:
      J3_BRANCH_SOURCE_NAME: "${{ needs.job1.outputs.BranchName }}"
      
    steps:
      - name: Write ExpiredCertfound
        run: echo "${{ needs.job1.outputs.ExpiredCertfound }}"

      - name: Write BranchName
        run: echo "${{ env.J3_BRANCH_SOURCE_NAME }}"

      - name: Delete branch
        uses: dawidd6/action-delete-branch@d1efac9a6f7a9b408d4e8ff663a99c1fbac17b3f # v3.1.0
        with:
          github_token: "${{ secrets.GH_TOKEN }}"
          branches: "${{ env.J3_BRANCH_SOURCE_NAME }}"
